<h1>CatCatCat</h1>

<div>
  <h2>
    Add a new cat
  </h2>

  <form action="/insert_cat" method="post">
    <div>
      <label for="name_box" class="form-label">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" class="form-control">
    </div>

    <button class="btn btn-outline-primary mt-2">
      Create cat
    </button>
  </form>
</div>

<hr>


<% @cats.each do |cat| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= cat.name %></h5>
      <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(cat.created_at) %> ago</small></p>
    </div>
  </div>
<% end %>
